@model IEnumerable<Clinica.Models.Pet>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Home page</h2>
    <table class="table">
        <tr>
            <th>
                <a href="~/Animal/Index">Animal</a>
            </th>
            <th>
                <a href="~/Cliente/Index">Cliente</a>
            </th>
            <th>
                <a href="~/Consullta/Index">Consulta</a>
            </th>
            <th>
                <a href="~/Exame/Index">Exame</a>
            </th>
            <th>
                <a href="~/Login/Index">Usuario</a>
            </th>
            <th>
                <a href="~/Pet/Index">Pet</a>
            </th>
            <th>
                <a href="~/Prestadores/Index">Veterinário</a>
            </th>
        </tr>
    </table>
</body>
</html>
